    {% if ordered == 'asc' %}
        <span style="color: #aaaaaa">&#9660;</span>
    {% else %}
    <a href="#"
       class = "it-doors-ordering"
       data-type="asc"
       data-field="{{ field }}"
       data-success='{{ successFunctions|json_encode|raw }}'
       data-url="{{ path('it_doors_ajax_ordering') }}"
       data-ordering_namespace="{{ orderingNamespace }}"
            >
        &#9660;
    </a>
    {% endif %}

    {% if ordered == 'desc' %}
        <span style="color: #aaaaaa">&#9650;</span>
    {% else %}
        <a href="#"
           class = "it-doors-ordering"
           data-type="desc"
           data-field="{{ field }}"
           data-success='{{ successFunctions|json_encode|raw }}'
           data-url="{{ path('it_doors_ajax_ordering') }}"
           data-ordering_namespace="{{ orderingNamespace }}"
                >
            &#9650;
        </a>
    {% endif %}
