<ul class="nav nav-tabs" 
    data-url="{{ path('it_doors_ajax_tab') }}"
    data-namespase="{{ tabNamespace }}"
    >
    {% for val in tabs %}
    <li data-name {% if val.tab == tab  %} class="active"{% endif%}>
            <a class="ajax-tab-class" href="#tab_{{ val.tab}}" data-tab="{{ val.tab}}" data-toggle="tab" data-block-update="{{ val.blockupdate}}" data-url="{{ val.url }}">
                {{ val.text}}
            </a>
        </li>
    {% endfor %}
</ul>