{% block form_row %}
    <div class="form-group
    {% if form.vars.attr.class_outer is defined  %}
        {{ form.vars.attr.class_outer }}
        {% else %}
            col-md-3
        {% endif %}"
    >
        {% if form.vars.label is defined and form.vars.label is not null %}
            {{ form_label(form) }}
        {% endif %}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{%- block form_rows_file -%}
    {% for child in prototype %}
        {{ form_errors(child) }}
        {{ form_widget(child) }}
    {% endfor %}
{%- endblock form_rows_file -%}


{%- block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype':  form_errors(prototype) ~ '<span '~  block('widget_container_attributes') ~'>'
       ~ block('form_rows_file')  ~'</span>'  }) -%}
    {% endif %}
    <ul {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
    </ul>
    <script>
        var $collectionHolder{{ id }};
        var $addTagLink = $('<a class="" href="#">{% trans %}Add a file{% endtrans %}</a>');
        var $newLinkLi{{ id }} = $('<li class="margin-top-10 margin-buttom-10"></li>').append($addTagLink);

        $(document).ready(function(){
            $collectionHolder{{ id }} = $('#{{ id }}');
            $collectionHolder{{ id }}.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            $collectionHolder{{ id }}.append($newLinkLi{{ id }});
            $collectionHolder{{ id }}.data('index', $collectionHolder{{ id }}.find(':input').length);
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm{{ id }}($collectionHolder{{ id }}, $newLinkLi{{ id }});
            });

        });
        function addTagForm{{ id }}($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="margin-top-10 margin-buttom-10"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink{{ id }}($newFormLi);
        }

        function addTagFormDeleteLink{{ id }}($tagFormLi) {
            var $removeFormA = $('<a href="#">{% trans%}Delete{% endtrans %}</a>');
            $tagFormLi.prepend($removeFormA);
            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }
    </script>
{%- endblock collection_widget -%}


{% block hidden_row %}
    <div class="form-group
    {% if form.vars.attr.class_outer is defined  %}
        {{ form.vars.attr.class_outer }}
        {% else %}
            col-md-3
        {% endif %}"
    >
        {{ form_widget(form) }}
    </div>
{% endblock hidden_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="help-block">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block itdoors_select2_widget %}
    {{ block('hidden_widget') }}
    <script type="text/javascript">
        $(document).ready(function(){
            if (ITDoorsAjax) {
                ITDoorsAjax.select2($('#{{ form.vars.id }}'));
            }
        });
    </script>
{% endblock %}

{% block itdoors_select2_entity_widget %}
    {% set type = type|default('text') %}
    {{ block('hidden_widget') }}
    <script type="text/javascript">
        $(document).ready(function(){
            if (ITDoorsAjax) {
                ITDoorsAjax.select2($('#{{ form.vars.id }}'));
            }
        });
    </script>
{% endblock %}


{% block itdoors_select2_dependent_widget %}
    {% set type = type|default('text') %}
    {{ block('hidden_widget') }}
    <script type="text/javascript">
        $(document).ready(function(){
            if (ITDoorsAjax) {
                ITDoorsAjax.select2Dependent($('#{{ form.vars.id }}'));
            }
        });
    </script>
{% endblock %}

{% block money_widget -%}
    {{  block('form_widget_simple') }}
{%- endblock money_widget %}

{% block itdoors_dependent_listener_select2_to_select2_widget %}
    {% set type = type|default('text') %}
    {{ block('hidden_widget') }}
    <script type="text/javascript">
        $(document).ready(function(){
            if (ITDoorsAjax) {
                ITDoorsAjax.select2DependentToSelect2($('#{{ form.vars.id }}'));
            }
        });
    </script>
{% endblock %}

{% block itdoors_dependent_listener_select2_widget %}
    {{ block('hidden_widget') }}
    <div id="{{ form.vars.id }}Div"></div>
    <script type="text/javascript">
        $(document).ready(function(){
            if (ITDoorsAjax) {
                ITDoorsAjax.select2ListenerDependent($('#{{ form.vars.id }}'));
            }
        });
    </script>
{% endblock %}

{% block itdoors_choice_widget %}
    {{ block('choice_widget') }}
    <script type="text/javascript">
        $(document).ready(function(){
            if (ITDoorsAjax) {
                ITDoorsAjax.select2($('#{{ form.vars.id }}'));
            }
        });
    </script>
{% endblock %}

{% block itdoors_date_decade_widget %}
    <div class="input-group input-medium date itdoors-date-picker">
        {{ block('date_widget') }}
        <span class="input-group-btn">
        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){

            var rtl = false;

            $('.itdoors-date-picker').datepicker({
                rtl: rtl,
                autoclose: true,
                format: "dd.mm.yyyy",
                pickerPosition: (rtl ? "bottom-right" : "bottom-left"),
                language: 'ru',
                startView: 'decade',
                weekStart: 1
            });
        });
    </script>
{% endblock %}
